# Skybrush drone show firmware configuration, settings specific to the stock
# Crazyflie 2.0 drone with the Lighthouse system.

#include <cf2_defconfig>
#include "inc/common.cfg"
#include "inc/lighthouse.cfg"
