# Skybrush drone show firmware configuration, settings specific to the stock
# Crazyflie 2.1 brushless drone with the Lighthouse system.

#include <cf21bl_defconfig>
#include "inc/common.cfg"
#include "inc/brushless.cfg"
#include "inc/lighthouse.cfg"
