# Skybrush drone show firmware configuration, settings specific to the stock
# Crazyflie 2.1 brushless drone with UWB positioning.

#include <cf21bl_defconfig>
#include "inc/common.cfg"
#include "inc/brushless.cfg"
#include "inc/uwb.cfg"
