# Skybrush drone show firmware configuration, settings specific to the
# Flapper drones with Lighthouse.

#include <configs/flapper_defconfig>
#include "inc/common.cfg"
#include "inc/lighthouse.cfg"

# Flapper has a two-cell battery so we need double the usual preflight check
# voltage
CONFIG_PREFLIGHT_MIN_BATTERY_VOLTAGE=76
