# Skybrush drone show firmware configuration, settings specific to the
# Bolt-based show drone prototype with Lighthouse.

#include <bolt_defconfig>
#include "inc/common.cfg"
#include "inc/lighthouse.cfg"

# Configure ESC protocol for drone and use a higher PWM ratio for tests
CONFIG_MOTORS_ESC_PROTOCOL_STANDARD_PWM=n
CONFIG_MOTORS_ESC_PROTOCOL_ONESHOT125=y
CONFIG_MOTORS_DEFAULT_PROP_TEST_PWM_RATIO=10000

# Reduce LED ring brightness because the motors and the LED ring together draw
# too much power
CONFIG_DECK_LEDRING_DIMMER=1

# Use smoother (less aggressive) takeoff as it is perfectly fine with this drone
# and it looks less scary
# CONFIG_SHOW_SMOOTH_TAKEOFF=y
