# Parameters to use with the Lighthouse positioning system
CONFIG_SHOW_POSITIONING_ACTIVE_MARKER=n
CONFIG_SHOW_POSITIONING_LIGHTHOUSE=y
CONFIG_SHOW_POSITIONING_UWB=n
CONFIG_SHOW_TAKEOFF_HEIGHT_CM=50

# Allow more Lighthouse base stations
CONFIG_DECK_LIGHTHOUSE_MAX_N_BS=5
